@media screen and (min-width: 0px) {
  
  p {
    margin-left: 5px;
  }

  .block-item {
    background: #FAFAFA;
    margin-bottom: 35px;
  }

  .question-row {
  }

  .odd {
    background: #e4e4e4;
  }

  .scene-block {
    background: #d4d4d4;
    font-weight: bold;
    padding-top: 10px;
  }

  .answer-item {
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }

  .question-item {
   display: inline-block;
   vertical-align: top;
   width: 27%;
  }

  .answer-columns {
    display: inline;
    width: 72%;
    margin-left: 5%;
  }

  .identifiers {
    display: inline;
    vertical-align: top;
    line-height: 100%;
  }

  .answer-block {
    display: block;
    padding-top: 5px;
    
  }

  .question-title {
    font-weight: bold;
  }

  .answer-title {
    font-weight: bold;
  }

  .answer-block > .question-row {
    border-bottom: 1px solid black;
  }

  .heading {
    margin-bottom: 35px;
  }

  .footer {
    margin-top: 25px;
    text-align: center;
    padding-bottom: 25px;
  }

  .incorrect {
    color: red;
  }

}

@media screen and (min-width: 600px) {
  .answer-columns {
    margin-left: 9%;
  }

}
